node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Env files (if any)
.env
.env.*

# OS / editor stuff
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
*.vscode/

# Git
.git
.gitignore

# Docker files
Dockerfile
.dockerignore
